.codificador{
    display: inline-block;
    position: relative;
    vertical-align: center;
    background-image: "verso.png";
    height: auto;
    width: fit-content;

}
.codificador textarea{
    position: absolute;
    top: 30%;
    left: 8%;
    background-color: #00000020;
}
.codificador button:first-of-type {
    position: absolute;
    top: 60%;
    left: 8%;
}
.codificador button {
    position: absolute;
    top: 60%;
    left: 61%;
}
.carta{
    width: 287px;
    height: 538px;
    
}
#msgs{

}

